
@page

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment

@{
    var environmentName = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") ?? "Development";
}

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var currentEnvironment = ViewData["environment"] as string;
}

@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 

<b><p> The current environmentt is @environmentName.</p></b>

<form>
		<label for="search-input">Search:</label>
		<input type="text" id="search-input" name="search-input">
		<button type="submit" id="search-button">Search</button>
	</form>

 if (search-input.Text == "")
    {
        // If the search box is empty, display an error message and return
        <h1>Error: Search box is empty</h1>
        return;
    }

</div>
